.form-content{
    align-items: center;
    height:65%;
    justify-content: center;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

.form-success{
    margin-bottom: 10%;
}

.form-img-2{
    width: 50%;
    height: 50%;
    margin-bottom: 10%;
}